
<div class="container">
    <h2> Create a Review </h2>

<%= form_for :review, url: reviews_path do |f| %>

<div class="form-group">
    <%= f.label :author %><br />
    <%= f.text_field :author, class:'form-control' %> <br />
</div>

<div class="form-group">
    <%= f.label :prodName %><br />
    <%= f.text_field :prodName, class:'form-control', value:@name %> <br />
</div>

<%= f.hidden_field :products_id, class:'form-control', value:@id %> 

<div class="form-group">
    <%= f.label :prodRating %><br />
    <%= f.number_field :prodRating, class:'form-control' %> <br />
</div>

<div class="form-group">
    <%= f.label :reviewText %><br />
    <%= f.text_field :reviewText, class:'form-control' %> <br />
</div>

<div class="form-group">
    <%= f.label :reviewDate %><br />
    <%= f.date_field :reviewDate, class:'form-control', value: Date.today.strftime %> <br />
</div>

<div class="form-group">
    <%= f.label :profile_id %><br />
    <%= f.hidden_field :profile_id , class:'form-control', value: current_user.id  %> <br />
</div>



<%= f.submit "Submit", class:'btn-primary' %>


<% end %>

</div>
