<style>



</style>


<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

   <nav class="navbar navbar-dark">
    <a class="navbar-brand" href="/" >Electronic Review</a>

      <!--<h5 class="my-0 mr-md-auto font-weight-normal"> Electronic Reviews </h5>    <nav class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"> -->


        <a class="nav-link active" href="#"> <%= link_to "Home", root_path %> </a>
        <a class="nav-link active" href="#"> <%= link_to "About", static_pages_about_path %> </a>
        <a class="nav-link active" href="#"> <%= link_to "Contact", static_pages_contact_path %> </a>
        <a class="nav-link active" href="#"> <%=link_to 'SmartPhones', products_path({category: 'SmartPhone'}) %> </a>
        <a class="nav-link active" href="#"> <%=link_to 'TVs', products_path({category: 'TV'}) %> </a>
        <a class="nav-link active" href="#"> <%=link_to 'PCs', products_path({category: 'PC'}) %> </a>



       
      </nav>
    </div>

<div class="container">
    <div class= "links" >
    <% if current_user %>
      <a class="p-2 text-dark" href="#">
        <%= link_to 'Log out', session_path('active'), method: :delete %>

        <%if checkProfile %>
          <%=link_to ' | View Profile', profile_path(checkProfile)%>
            
        <% else %>
          <%=link_to ' | Create Profile', new_profile_path %>

        </a>
        <% end %>

      </a>
      <% else %>
      <a class="p-2 text-dark" href="#">
        <%= link_to 'Log in', new_session_path  %>
        <%= link_to " | Create Account", new_user_path   %> 
      </a>

      <% end %>

</div>
</div>

</div>



    <%= yield %>
  </body>
</html>