<div class ="container">
    <%= form_tag search_products_path, method: :get do %>
    <%= text_field_tag :term, nil, placeholder: 'Search all products', class:'Search' %>
    <%= submit_tag "Search", class: 'btn btn-success' %>
    <% end %>
    <h2> Products </h2>

    <table border="1" class = "table">
        <tr>
            <th> Product name</th>
            <th> Brand </th>
            <th> Average Cost </th>
            <th> Category </th>
            <th> Release date </th>
            <th> Description </th>
            <th> Photo </th>

        </tr>

        <% @products.each do |product|%>
        <tr>
            <td> <%= product.productName %> </td>
            <td> <%= product.brand %> </td>
            <td> <%= product.avgCost %> </td>
            <td> <%= product.category %> </td>
            <td> <%= product.releaseDate %> </td>
            <td> <%= product.description %> </td>
            <td> <%= image_tag(product.prodPhoto.url, size: "150x150") if product.prodPhoto.exists? %> </td>
            <td> <%= link_to 'Details', product_path(product) %> </td>
</td> 
        </tr>
<% end %>

</table>
</div>