<div class ="containter">
<h3>Profile Details</h3>

<p>Full name: <%= @profile.fullName %>  </p>
<p>DOB: <%= @profile.dob %>  </p>
<p>Address:<%= @profile.address %>  </p>
<p>City:<%= @profile.city %>  </p>
<p>Country: <%= @profile.country  %>   </p>

<p>Photo: <%= image_tag(@profile.photo.url, size: "150x150") if @profile.photo.exists? %> </p>



</div>